<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CRM-DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\jacks\Creative Cloud Files\Eurydice\Eurydice.mdf&quot;;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>